<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo App</title>
  <style>
  .todo-list {
    display: inline-block;
    width: 31%;
  }
  </style>
</head>
<body>
  <div id="app">
    <h1>Ep's Todo App</h1>
    <todo-list category="취업준비"></todo-list>
    <todo-list category="ssafy"></todo-list>
    <todo-list category="기타"></todo-list>
  </div>


  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('todo-list', {
      template: `
      <div class="todo-list">
        <h2> {{ category }} </h2>
        <input type="text" v-model="newTodo">
        <button v-on:click="addTodo">+</button>
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
      </div>
      `,

      props: {
        'category':{
          tyep:String,
          required:true,
          
        }
        // 'propA':Number, 숫자 타입만 허용 (null은 어떤 타입이든 허용)
        // 'propB':[String, Number], String과 Number 타입만 허용 
        
        // 'propC':{
        //   type:String,   문자열이면서
        //   required:true, 꼭 있어야된다. 
        // }

        // 'propD':{
        //   type:Number,   숫자면서
        //   default:100   기본값을 가짐
        // }

        // 'propE':{
        //   type: Object,   
        //   default: function(){
        //     return {message: 'hello'}   객체 배열의 기본값은 함수 반환형으로 작성합니다.
        //   } 
        // }

        // 'propF':{
        //   validator:function(value){
        //     return value >10
        //   }
        // }  데이터 검증   

      },

      // https://kr.vuejs.org/v2/guide/components.html#data-%EB%8A%94-%EB%B0%98%EB%93%9C%EC%8B%9C-%ED%95%A8%EC%88%98%EC%97%AC%EC%95%BC%ED%95%A9%EB%8B%88%EB%8B%A4
      // 요약 : 일반 object로 작성하면 모드 component가 하나의 데이터를 공유할 수 있기 때문. 
      data: function(){
        return{
          todos: [],
          newTodo: '',
        }
      },
      methods:{
        addTodo: function () {
          this.todos.push({
            id: new Date().getTime(),
            content: this.newTodo
          })
          this.newTodo = ''
        },
        removeTodo: function (target_id) {
          const newTodos = this.todos.filter(todo => {
            return todo.id !== target_id
          })
          this.todos = newTodos
        },
      },

    })
  </script>

  <script>
  const app = new Vue({
    el: '#app',
  })
  </script>


</body>
</html>